.icon {
    background: white;
}

/* Mods  */
.icon.minus {
    mask: url(./img/minus.svg) no-repeat center center;
}

.icon.plus {
    mask: url(./img/plus.svg) no-repeat center center;
}

.icon.twitter {
    mask: url(./img/twitter.svg) no-repeat center center;
}

.icon.discord {
    mask: url(./img/discord.svg) no-repeat center center;
}

.icon.m {
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
}

.icon.l {
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
}
.icon.twitter.l {
    mask-size: 48px;
}
