.left {
}

.right {
}

.img {
    width: 100%;
    border-radius: 12px;
}

.connect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    margin-bottom: 48px;
}
.connect button {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .connect {
        margin-top: 48px;
    }
}

.mint {
    background: #9561d4;
    margin-top: 48px;
    padding: 32px;
    border-radius: 12px;
}

.mint .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

@media only screen and (min-width: 768px) {
    .mint .form {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

.mint .form h2 {
    margin: 0;
}
.mint .input {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0;
    margin: 10px 0;
    padding: 18px 16px;
    text-transform: uppercase;
    text-align: center;
    width: 128px;
}
.mint .owning {
    margin-top: 16px;
    padding: 8px;
    background: white;
    color: #9561d4;
    text-align: center;
    border-radius: 12px;
}
@media only screen and (max-width: 768px) {
    .mint .owning {
        margin-top: 32px;
        text-align: center;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.mint .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.mint .title {
    display: flex;
    flex-grow: 1;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.mint .amount {
    width: 64px;
    text-align: center;
}

.mint .link {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.8;
}
.mint .link:hover {
}

.description {
    margin-top: 24px;
}

.features {
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
    .features {
        flex-direction: row;
        justify-content: space-between;
    }
    /* .features > div:not(:first-child) { */
    /*     margin-left: 16px; */
    /* } */
}
.featureItem {
    margin-top: 24px;
}
.featureItem button {
    margin-top: 16px;
}

.roadmap {
    margin-top: 48px;
}

.roadmapItem {
    position: relative;
}

* + .roadmapItem {
    margin-top: 64px;
}

.roadmapItem img {
    margin-top: 24px;
}

@media screen and (min-width: 992px) {
    .glitches:after {
        bottom: -130px;
        content: url(/assets/images/glitches_arrow.png);
        display: block;
        position: absolute;
        right: 320px;
        transform: scale(0.6);
    }

    .giveaways:after {
        bottom: -180px;
        content: url(/assets/images/giveaways_arrow.png);
        display: block;
        left: 50px;
        position: absolute;
        transform: scale(0.6);
    }

    .marketing:after {
        bottom: -160px;
        content: url(/assets/images/marketing_arrow.png);
        display: block;
        position: absolute;
        right: 400px;
        transform: scale(0.6);
    }

    .marketplace:after {
        bottom: -175px;
        content: url(/assets/images/marketplace_arrow.png);
        display: block;
        left: 75px;
        position: absolute;
        transform: scale(0.6);
    }

    .innovation:after {
        bottom: -165px;
        content: url(/assets/images/innovation_arrow.png);
        display: block;
        left: 270px;
        position: absolute;
        transform: scale(0.6);
    }

    .apeclub:after {
        bottom: -200px;
        content: url(/assets/images/apeclub_arrow.png);
        display: block;
        left: 115px;
        position: absolute;
        transform: scale(0.8);
    }
}
