<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><% preact.title %></title>
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1"
        />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link
            rel="apple-touch-icon"
            href="/assets/icons/apple-touch-icon.png"
        />
        <meta charset="utf-8" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="ArbiApeClub" />
        <meta property="og:url" content="https://arbiapeclub.com" />
        <meta
            property="og:image"
            content="https://arbiapeclub.com/assets/hero.png"
        />
        <meta
            property="og:description"
            content="ArbiApeClub is a collection of 10,000 Ape NFTs — digital collectibles that were magically bridged to Layer 2!"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin=""
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin=""
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;1,200&amp;display=swap"
            rel="stylesheet"
        />
        <link
            rel="preload"
            href="/assets/fonts/GigaSans-BlackItalic.woff2"
            as="font"
            type="font/woff2"
            crossorigin=""
        />
        <% preact.headEnd %>
    </head>
    <body>
        <% preact.bodyEnd %>
    </body>
</html>
